{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ 'forecast_%state%_%city%' | trans({'%state%': state, '%city%': city}) }}</h1>

    {# Riga contenitore #}
    <div class="row mt-3">
        {{ include('weather/_forecastCard.html.twig') }}
    </div>
{% endblock %}

